body {
  font-family: "Raleway", sans-serif;
}

#Hero-Section {
  background-image: url("../img/bg-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

#Tech-Section {
  background-image: url("../img/bg-tech2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#Contacto form label {
  font-weight: 700;
  color: black;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}

.herramientas-section {
  text-align: center;
}

.tech-section {
  text-align: center;
}

.tech-icon {
  font-size: 4rem;
  margin: 1rem;
}
.html-icon {
  color: #E44D26; /* Color naranja para HTML */
}
.css-icon {
  color: #1572B6; /* Color azul para CSS */
}
.js-icon {
  color: #F0DB4F; /* Color amarillo para JavaScript */
}
.python-icon {
  color: #3776AB; /* Color azul para Python */
}
.java-icon {
  color: #007396; /* Color azul para Java */
}
.azure-icon {
  color: #0072C6; /* Color de Azure */
}